body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:804px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:37px;
  width:771px;
  height:229px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:767px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:214px;
  width:358px;
  height:170px;
  font-size:28px;
  text-align:left;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:354px;
  word-wrap:break-word;
}
