body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:831px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:118px;
  width:783px;
  height:226px;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-58px;
  width:779px;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:60px;
  width:50px;
  height:48px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
